In [1]:
%pylab inline 
# %pylab is a magic function in ipython, and triggers the import of various modules within Matplotlib

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('befkbhalderstatkode.csv')
df.head()

    AAR  BYDEL  ALDER  STATKODE  PERSONER
0  2015      1      0      5100       614
1  2015      1      0      5104         2
2  2015      1      0      5106         1
3  2015      1      0      5110         1
4  2015      1      0      5120         4

In [6]:
df.columns

Index(['AAR', 'BYDEL', 'ALDER', 'STATKODE', 'PERSONER'], dtype='object')

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape

(542517, 5)

In [9]:
type(df['ALDER'])

pandas.core.series.Series

In [11]:
print(type(df.iloc[:,0]))
df.iloc[:,0] # all rows of first column

<class 'pandas.core.series.Series'>

0         2015
1         2015
2         2015
3         2015
4         2015
          ...
542512    1992
542513    1992
542514    1992
542515    1992
542516    1992
Name: AAR, Length: 542517, dtype: int64

In [12]:
first_row = df.iloc[0,:] # or just df.iloc[0]
print(type(first_row))
first_row

<class 'pandas.core.series.Series'>

AAR         2015
BYDEL          1
ALDER          0
STATKODE    5100
PERSONER     614
Name: 0, dtype: int64

In [13]:
first_row['AAR']

2015

In [14]:
# iloc (integer location method)
col = 2
row = 1
df.iloc[row][col]

0

In [15]:
import numpy 
import pandas
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
print(type(data))
df = pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:])

<class 'numpy.ndarray'>